/**
 * Image
 */

.container
	transition background-color .3s var(--ease_standard)
	background-color transparent
	height 0
	position relative

	&.is_loading
		background-color rgba(0,0,0,0.1)

.image
	display block
	transition opacity .3s var(--ease_standard)
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	object-fit cover

	.is_loading &
		opacity 0
