/**
 * Column
 */

.container
	overflow-y auto
	flex-basis 40rem
	flex-grow 1
	flex-shrink 1

	> div
		min-height 100%

for num in (100..1000)

	if num % 10 == 0

		.width-{num}
			flex-basis (num / 10)rem

for num in (0..10)

	.shrink-{num}
		flex-shrink (num / 10)

	.grow-{num}
		flex-grow (num / 10)
