$sidebar_width_open = 44rem
$sidebar_width_closed = 9rem

.container
	position relative
	width $sidebar_width_closed
	height 100%
	color var(--sidebar_color)
	cursor pointer

	&.is_open
	&.is_closing
		width 100vw

	&.is_open a
		opacity 1

	&.is_closed a
	&.is_opening a
	&.is_closing a
		pointer-events none

	@media screen and (max-width 600px)
		position absolute
		top 0
		right 0
		overflow hidden
		transition width .6s var(--ease_standard), max-height .6s var(--ease_standard)

		&.is_open
			max-height 100%

		&
		&.is_closing
			max-height $sidebar_width_closed
			width $sidebar_width_closed

.button
	position absolute
	top 0
	right 0
	display none
	justify-content center
	align-items center
	width $sidebar_width_closed
	height $sidebar_width_closed
	border none
	background none
	color rgba(255, 255, 255, .7)
	cursor pointer
	fill currentColor

	&
	&:hover
	&:focus
		outline none

	@media screen and (max-width 600px)
		display flex

.list_container
	overflow hidden
	width $sidebar_width_closed
	height 100%
	transition width .6s var(--ease_standard)
	transform translateZ(0)

	.is_open &
		width $sidebar_width_open

	@media screen and (max-width 600px)
		position absolute
		top 0
		right 0
		height 100vh

		&
		.is_open &
			width 100vw

.overlay
	position absolute
	top 0
	left 0
	display none
	width 100vw
	height 100%
	background-color var(--sidebar_background_color)
	opacity 0
	transition opacity .6s var(--ease_standard)

	.is_open &
		opacity .8
		animation appear .6s var(--ease_standard)

	.is_open &
	.is_closing &
		display block

.scrollbar
	top 0 !important
	z-index 2
	width 7px !important
	height 100% !important
	border-radius 0 !important
	background none !important

	> div
		border-radius 0 !important
		background-color var(--sidebar_scrollbar_color) !important

	.is_open &
		display block

	&
	.is_opening &
		display none

@keyframes appear
	0%
		opacity 0

	100%
		opacity .8
