/**
 * Layout - meguro_4
 */

$column_1_width = 45rem
$column_2_width = 45rem

// column_1_width + column_2_width + sidebar_width
$breakpoint = (450 + 450 + 90 - 1)px

.column_1_container
	flex-basis $column_1_width
	flex-grow .5
	flex-shrink 0

	@media screen and (max-width: $breakpoint)
		flex-grow 1

.column_1_content
	grid-row-gap 0

.column_2_container
	flex-basis $column_2_width
	flex-grow 4
	flex-shrink 11

.column_2_content
	grid-row-gap 0
	padding 8rem

	> div + div
		padding-top 8rem

	@media screen and (max-width: $breakpoint)
		padding 6rem

@media screen and (max-width: $breakpoint)

	.column_1_container
	.column_2_container
		overflow visible
		height auto

.column_1_description
.column_1_title
	padding 5rem

	> div
		display grid
		grid-row-gap 2.5rem

	@media screen and (max-width: $breakpoint)
		padding 6rem

.column_1_title
	padding 5rem
	padding-top 15rem
	padding-bottom 2.5rem
	width 100%

	> div
		max-width 70rem
		margin 0 auto

	@media screen and (max-width: $breakpoint)
		padding 6rem
		padding-top 15rem

.column_1_description
	flex-basis 100%
	padding-top 0
	width 100%

	> div
		max-width 70rem
		margin 0 auto

	@media screen and (max-width: $breakpoint)
		padding-top 6rem
		order 1
