$column_1_width = 40rem
$column_2_width = 25rem
// column_1_width + column_2_width + sidebar_width
$breakpoint = (400 + 250 + 90 - 1)px

.column_1_container
	flex-grow 1
	flex-shrink 0
	flex-basis $column_1_width

.column_1_content
	padding 5rem
	padding-top 15rem

	@media screen and (max-width $breakpoint)
		padding 6rem
		padding-top 15rem

.column_2_container
	flex-grow 4
	flex-shrink 11
	flex-basis $column_2_width

.column_2_content
	grid-row-gap 0

@media screen and (max-width $breakpoint)
	.column_1_container
	.column_2_container
		overflow visible
		height auto
