/**
 * Layout
 */

@import "_reset"
@import "_variables"
@import "_globals"

:root
	font-size 10px

body
	color var(--color)
	font-size 1.3rem
	font-family Arial, sans-serif
	line-height 1.9
	overflow hidden

html
body
:global(#__next)
	height 100%


:global(#__next)
	display grid
	grid-template-columns 9rem auto
	grid-template-areas 'sidebar main'

	> nav
		grid-area sidebar

	> main
		grid-area main
