/**
 * Page - Globals
 */

*::selection
	color var(--color_inv)
	background-color var(--color)

a
	position relative
	display inline-block
	font-style italic
	text-decoration none

	&
	&:visited
	&:focus
	&:hover
		color inherit
