/**
 * Page - Globals
 */

*::selection
	color var(--selection_color)
	background-color var(--selection_background_color)

a
	position relative
	display inline-block
	text-decoration none

	&
	&:visited
	&:focus
	&:hover
		color inherit
