*
*:before
*:after
	box-sizing border-box
	margin 0
	padding 0

h1
h2
h3
h4
h5
h6
	letter-spacing .02em
	line-height 1.5

h1
	font-size 1.8em

h2
	font-size 1.6em

h3
	font-size 1.2em

h4
	font-size 1.15em

h5
	font-size 1.1em

h6
	font-size 1.05em

input
	color inherit

select
input
	font-size inherit

::-webkit-input-placeholder
	color inherit
	opacity .3

::-moz-placeholder
	color inherit
	opacity .3

img
	max-width 100%
	width 100%
	height auto
