/**
 * Page - Reset
 */

*
*:before
*:after
	margin 0
	padding 0
	box-sizing border-box

h1
	font-size 2em
h2
	font-size 1.414em
h3
	font-size 1.155em
h4
	font-size 1em
h5
	font-size 0.894em
h6
	font-size 0.816em

h1, h2, h3, h4, h5, h6
	line-height 1.5

input
	color inherit

select
input
	font-size inherit

::-webkit-input-placeholder
	color inherit
	opacity .3

::-moz-placeholder
	color inherit
	opacity .3

img
	max-width 100%
	width 100%
	height auto
