.link
	position fixed
	right -.5rem
	bottom -.5rem
	padding 1em calc(2em + .5rem) calc(1em + .5rem) 2em
	border 1px solid var(--next_page_border_color)
	background-color var(--next_page_background_color)
	color var(--next_page_color)
	transition transform .4s var(--ease_custom)
	margin-right var(--scrollbar_offset)

	&:hover
		transform translateX(-.4rem)

	&:focus
		outline none

.link
.link:hover
.link:focus
	span
		display inline-block
		padding-right .7em
		letter-spacing .04em
		font-style italic
		font-size 1.1em

	h3
		display inline-block
		font-size 1em
