/**
 * Container
 */

hr.container
	opacity 1

.type-info

	ul
		display flex
		flex-wrap wrap
		list-style none
		margin 0
		padding 0

	li:after
		content ""
		padding 0 .5em

	&.li_separator-7C

		li:after
			content "\7C" // |

	&.li_separator-2D

		li:after
			content "\2D" // -

	li:last-child:after
		content normal

.type-column
	overflow-y auto
	flex-grow 1
	flex-basis 100%
	height 100%

	&
		animation appear .3s var(--ease_standard)

@keyframes appear

	0%
		opacity .8
		transform translateY(.1rem) translateZ(0)

	100%
		opacity 1
		transform translateZ(0)
