/**
 * Container
 */

hr.container
	opacity 1

.type-info

	ul
		display flex
		flex-wrap wrap
		list-style none
		margin 0
		padding 0

	li:after
		content ""
		padding 0 .5em

	&.li_separator-7C

		li:after
			content "\7C" // |

	&.li_separator-2D

		li:after
			content "\2D" // -

	li:last-child:after
		content normal

.type-column
	overflow-y auto
	flex-grow 1
	flex-basis 100%
