.container
	flex-grow 1
	flex-basis 100%
	height 100%

.content
	display grid
	min-height 100%
	grid-row-gap 2.5rem

.use_modal img
	cursor pointer

.scrollbar
	top 0 !important
	width 7px !important
	height 100% !important
	border-radius 0 !important
	background none !important

	> div
		border-radius 0 !important
		background-color var(--scrollbar_color) !important

@keyframes appear
	0%
		opacity .8
		transform translateY(.1rem) translateZ(0)

	100%
		opacity 1
		transform translateZ(0)
