/**
 * Navigation
 */

.container
	position absolute
	top 0
	right 0
	display flex
	background-color rgba(255,255,255,.95)

.button
	display flex
	align-items center
	justify-content center
	width 6rem
	height 6rem
	background none
	border none
	cursor pointer
	color rgba(0,0,0,0.7)
	transition background-color .1s var(--ease_deceleration)

	&
	&:hover
	&:focus
		outline none

	&:hover
	&:focus
		background-color #fff
		transition-delay .05s
