/**
 * Custom CSS
 */

body
	font-family 'Noto Sans', sans-serif
	letter-spacing .03em

h1, h2, h3, h4, h5, h6
	font-family Prata, serif

h1
	font-size 1.8em

:root
	--color rgba(0,0,0,0.85)
	--selection_color rgba(255,255,255,0.85)
	--selection_background_color rgba(0,0,0,0.85)
	--sidebar_color rgba(255,255,255,0.85)
	--sidebar_background_color #191a1b
	--sidebar_scrollbar_color rgba(255,255,255,0.3)
	--scrollbar_color rgba(0,0,0,0.5)
