body
	letter-spacing .03em
	font-family "Noto Sans", sans-serif

h1
h2
h3
h4
h5
h6
	font-family Prata, serif

h1
	font-size 1.8em

:root
	--color rgba(0, 0, 0, .85)
	--selection_color rgba(255, 255, 255, .85)
	--selection_background_color rgba(0, 0, 0, .85)
	--sidebar_color rgba(255, 255, 255, .85)
	--sidebar_background_color #191a1b
	--sidebar_scrollbar_color rgba(255, 255, 255, .3)
	--scrollbar_color rgba(0, 0, 0, .5)
	--next_page_background_color rgba(255, 255, 255, .95)
	--next_page_border_color rgba(0, 0, 0, .1)
	--next_page_color rgba(0, 0, 0, .85)
	--modal_background_color #191a1b
	--modal_image_background_color rgba(255, 255, 255, .1)
