/**
 * Generic styles
 */

.grid
	display grid
	align-content baseline

.align-right
	margin-left auto

.align-center
	margin-left auto
	margin-right auto

for num in (-10..-1)

	.order-{num}
		order (num)

for num in (1..1000)

	.column_min_width-{num}
		grid-template-columns repeat(auto-fit, minmax((num / 10)rem, auto))

	if num <= 100

		.opacity-{num}
			opacity (num / 100)

	if num >= 100// && num % 10 == 0

		.min_width-{num}
			min-width (num / 10)rem

			div&
				flex-basis (num / 10)rem

		.max_width-{num}
			max-width (num / 10)rem

			div&
				flex-basis 100%

	if num <= 10

		.order-{num}
			order (num)

		.border-{num}
			border (num / 10)rem solid

		.border_top-{num}
			border-top (num / 10)rem solid

		.border_bottom-{num}
			border-bottom (num / 10)rem solid

		.border_left-{num}
			border-left (num / 10)rem solid

		.border_right-{num}
			border-right (num / 10)rem solid

	if num <= 200

		.row_separation-{num}
			grid-row-gap (num / 10)rem

		.column_separation-{num}
			grid-column-gap (num / 10)rem

	// if num <= 200// && num >= 10

		// Padding

		.padding-{num}
			padding (num / 10)rem

		.padding_top-{num}
			padding-top (num / 10)rem

		.padding_bottom-{num}
			padding-bottom (num / 10)rem

		.padding_left-{num}
			padding-left (num / 10)rem

		.padding_right-{num}
			padding-right (num / 10)rem

		// Margin

		.margin-{num}
			margin (num / 10)rem

		.margin_top-{num}
			margin-top (num / 10)rem

		.margin_bottom-{num}
			margin-bottom (num / 10)rem

		.margin_left-{num}
			margin-left (num / 10)rem

		.margin_right-{num}
			margin-right (num / 10)rem
