.container
	position fixed
	top 0
	left 0
	z-index 100
	display flex
	justify-content center
	padding 6rem 1rem
	width 100%
	height 100%
	background-color var(--modal_background_color)

	@media screen and (max-height 600px)
		padding 2rem 1rem

div.image_container
	background-color var(--modal_image_background_color)

	&.direction_left
		animation appear_from_left .6s var(--ease_deceleration)

	&.direction_right
		animation appear_from_right .6s var(--ease_deceleration)

@keyframes appear_from_left
	0%
		transform translate3d(-.2rem, 0, 0)

	100%
		transform translate3d(0, 0, 0)

@keyframes appear_from_right
	0%
		transform translate3d(.2rem, 0, 0)

	100%
		transform translate3d(0, 0, 0)
