._1O3vl_l-R2f7wqIigt26BV {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
}
#__next ._1O3vl_l-R2f7wqIigt26BV._3p-1Kvzfo92BtbhvzvRq7r {
  grid-column: 1/-1;
}
main h1 {
  font-weight: 400;
}
main h1 a {
  font-style: inherit;
}
main h1 a:before {
  content: normal;
}
main h1 + h2 {
  margin-top: -2rem;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  font-family: inherit;
  opacity: 0.5;
}
main h1 + h2 + hr {
  display: block;
  margin-top: 12rem;
  height: 2px;
  background: currentColor;
  content: "";
}
main hr {
  border: none;
  border-top: 0.1rem solid;
}
main ul,
main ol {
  padding-left: 1.5em;
}
main img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
main a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
main a,
main a:visited,
main a:focus,
main a:hover {
  color: inherit;
}
main a:before {
  position: absolute;
  bottom: 0.1em;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  content: "";
  opacity: 0.4;
  transition: transform 0.15s var(--ease_deceleration);
  transform: scaleY(0.5) translateZ(0);
  transform-origin: bottom;
}
main a:hover:before {
  transform: scaleY(1) translateZ(0);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.02em;
  line-height: 1.5;
}
h1 {
  font-size: 2.7em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.2em;
}
input {
  color: inherit;
}
select,
input {
  font-size: inherit;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.3;
}
::-moz-placeholder {
  color: inherit;
  opacity: 0.3;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
:root {
  --ease_custom: cubic-bezier(0, 0.4, 0.5, 1);
  --ease_standard: cubic-bezier(0.4, 0, 0.2, 1);
  --ease_deceleration: cubic-bezier(0, 0, 0.2, 1);
  --color: rgba(0,0,0,0.85);
  --selection_color: rgba(255,255,255,0.85);
  --selection_background_color: rgba(0,0,0,0.85);
  --sidebar_color: rgba(255,255,255,0.85);
  --sidebar_background_color: #191a1b;
  --sidebar_scrollbar_color: rgba(255,255,255,0.3);
  --scrollbar_color: rgba(0,0,0,0.5);
  --next_page_background_color: rgba(255,255,255,0.97);
  --next_page_border_color: rgba(0,0,0,0.1);
  --next_page_color: rgba(0,0,0,0.85);
  --modal_background_color: #191a1b;
  --modal_image_background_color: rgba(255,255,255,0.1);
}
*::selection {
  background-color: var(--selection_background_color);
  color: var(--selection_color);
}
a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
a,
a:visited,
a:focus,
a:hover {
  color: inherit;
}
:root {
  font-size: 10px;
  font-family: Arial, sans-serif;
}
@media screen and (max-width: 600px) {
  :root {
    font-size: 8px;
  }
}
body {
  overflow: hidden;
  color: var(--color);
  font-size: 13px;
  line-height: 1.9;
}
html,
body,
#__next {
  height: 100%;
}
#__next {
  display: grid;
  grid-template-columns: 9rem auto;
  grid-template-areas: "sidebar main";
}
#__next > nav {
  grid-area: sidebar;
}
#__next > main {
  grid-area: main;
}
@media screen and (max-width: 600px) {
  #__next {
    grid-template-columns: auto;
    grid-template-areas: none;
  }
}

body {
  letter-spacing: 0.03em;
  font-family: "Noto Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Prata, serif;
}
h1 {
  font-size: 1.8em;
}
:root {
  --color: rgba(0,0,0,0.85);
  --selection_color: rgba(255,255,255,0.85);
  --selection_background_color: rgba(0,0,0,0.85);
  --sidebar_color: rgba(255,255,255,0.85);
  --sidebar_background_color: #191a1b;
  --sidebar_scrollbar_color: rgba(255,255,255,0.3);
  --scrollbar_color: rgba(0,0,0,0.5);
  --next_page_background_color: rgba(255,255,255,0.95);
  --next_page_border_color: rgba(0,0,0,0.1);
  --next_page_color: rgba(0,0,0,0.85);
  --modal_background_color: #191a1b;
  --modal_image_background_color: rgba(255,255,255,0.1);
}

._1OZIlIns3E-WED47-aYZ5O {
  flex-grow: 1;
  flex-basis: 100%;
  height: 100%;
}
._2YRlgL-Uw9dScDRxlS8NsA {
  display: grid;
  min-height: 100%;
  grid-row-gap: 2.5rem;
}
._2UFWjegcdzJR6UiLpeIkdE img {
  cursor: pointer;
}
._2z546gzkEY98gNHNxW47fT {
  top: 0 !important;
  width: 7px !important;
  height: 100% !important;
  border-radius: 0 !important;
  background: none !important;
}
._2z546gzkEY98gNHNxW47fT > div {
  border-radius: 0 !important;
  background-color: var(--scrollbar_color) !important;
}
@-moz-keyframes _1MwXNy3jTKmf8TmWr6okZ {
  0% {
    opacity: 0.8;
    transform: translateY(0.1rem) translateZ(0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@-webkit-keyframes _1MwXNy3jTKmf8TmWr6okZ {
  0% {
    opacity: 0.8;
    transform: translateY(0.1rem) translateZ(0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@-o-keyframes _1MwXNy3jTKmf8TmWr6okZ {
  0% {
    opacity: 0.8;
    transform: translateY(0.1rem) translateZ(0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes _1MwXNy3jTKmf8TmWr6okZ {
  0% {
    opacity: 0.8;
    transform: translateY(0.1rem) translateZ(0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.z11FTYcJ03y6bmVqo-9yJ {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  background-color: rgba(255,255,255,0.95);
}
._1uuSzV1wAIsI6g-nd8rg34 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border: none;
  background: none;
  color: rgba(0,0,0,0.7);
  cursor: pointer;
  transition: background-color 0.1s var(--ease_deceleration);
}
._1uuSzV1wAIsI6g-nd8rg34,
._1uuSzV1wAIsI6g-nd8rg34:hover,
._1uuSzV1wAIsI6g-nd8rg34:focus {
  outline: none;
}
._1uuSzV1wAIsI6g-nd8rg34:hover {
  background-color: #fff;
  transition-delay: 0.05s;
}
._1uuSzV1wAIsI6g-nd8rg34 svg {
  fill: currentColor;
}

._20Tu9zwP0O1DYw82gYdM1s {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 6rem 1rem;
  width: 100%;
  height: 100%;
  background-color: var(--modal_background_color);
}
@media screen and (max-height: 600px) {
  ._20Tu9zwP0O1DYw82gYdM1s {
    padding: 2rem 1rem;
  }
}
._20Tu9zwP0O1DYw82gYdM1s ::selection {
  background: none;
}
._3enZPcP1ds2l74RChfJzmm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
div._29xwHufQP-7eFhGLEWJ2tX {
  position: relative;
  width: 100%;
  background-color: var(--modal_image_background_color);
}
div._29xwHufQP-7eFhGLEWJ2tX._1jUHk8BA7ah9eC5GYKYe3R {
  animation: _2MW7IbJYID_FsV4qRbNPk8 0.6s var(--ease_deceleration);
}
div._29xwHufQP-7eFhGLEWJ2tX._2ZHErO3LuH2YPDYYXGmU_e {
  animation: _18m8RJB-vbnH-DaRwVTegw 0.6s var(--ease_deceleration);
}
._35ORff6PQUJ_RYG5pJs4nQ {
  object-fit: contain;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@-moz-keyframes _2MW7IbJYID_FsV4qRbNPk8 {
  0% {
    transform: translate3d(-0.2rem, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes _2MW7IbJYID_FsV4qRbNPk8 {
  0% {
    transform: translate3d(-0.2rem, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes _2MW7IbJYID_FsV4qRbNPk8 {
  0% {
    transform: translate3d(-0.2rem, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes _2MW7IbJYID_FsV4qRbNPk8 {
  0% {
    transform: translate3d(-0.2rem, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes _18m8RJB-vbnH-DaRwVTegw {
  0% {
    transform: translate3d(0.2rem, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes _18m8RJB-vbnH-DaRwVTegw {
  0% {
    transform: translate3d(0.2rem, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes _18m8RJB-vbnH-DaRwVTegw {
  0% {
    transform: translate3d(0.2rem, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes _18m8RJB-vbnH-DaRwVTegw {
  0% {
    transform: translate3d(0.2rem, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.nRGuDKjeBbxK-ltaWMQri {
  display: grid;
  margin: 0 auto;
  width: 100%;
  column-gap: 5rem;
  row-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
}

.MaHnBqYXhYzSvl__4HkWF {
  position: relative;
  height: 0;
  background-color: transparent;
  transition: background-color 0.3s var(--ease_standard);
}
.MaHnBqYXhYzSvl__4HkWF._3a1DVR6FfFdlGhqpyjPA5L {
  background-color: rgba(0,0,0,0.1);
}
.FsIrYaSiHNHJWCxBTtUVx {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s var(--ease_standard);
  object-fit: contain;
}
._3a1DVR6FfFdlGhqpyjPA5L .FsIrYaSiHNHJWCxBTtUVx {
  opacity: 0;
}

._3qny-dhfAe1whM1A7j09GN ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
._3qny-dhfAe1whM1A7j09GN li {
  display: inline;
}
._3qny-dhfAe1whM1A7j09GN li:after {
  padding: 0 0.5em;
  content: "";
}
._3qny-dhfAe1whM1A7j09GN.NyA_daGvEvfwyl4XdCfUQ li:after {
  content: "|";
}
._3qny-dhfAe1whM1A7j09GN._1JvVgdsJ2bBtkfKklJP8y1 li:after {
  content: "-";
}
._3qny-dhfAe1whM1A7j09GN li:last-child:after {
  content: normal;
}

._3w9kCp6rgMqbnhwRX4jPSW {
  display: grid;
  list-style: none;
  grid-row-gap: 3rem;
  grid-column-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
body ul._3w9kCp6rgMqbnhwRX4jPSW {
  padding-left: 0;
}
@media screen and (max-width: 400px) {
  ._3w9kCp6rgMqbnhwRX4jPSW {
    grid-template-columns: auto;
  }
}
._3pm-yxRlnnN9n3dF77u7oT {
  margin-left: 0.3rem;
}
._1FJZFzn-_nxlZu3Hv8CVJW {
  margin-top: 0.7em;
  font-size: 1.1em;
}
._2BJjc3pPunJiKEbrWQB1EF {
  font-weight: normal;
  opacity: 0.5;
}
._32ucahykMdFbOF8rbUvae_ {
  display: block;
  width: 100%;
  font-style: inherit;
  line-height: 1.7;
}
._32ucahykMdFbOF8rbUvae_:before {
  content: normal;
}
._33vG5MkoXmdElTlBqGuKd0 {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
}
._33vG5MkoXmdElTlBqGuKd0 div,
._33vG5MkoXmdElTlBqGuKd0 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
._33vG5MkoXmdElTlBqGuKd0 img {
  object-fit: cover;
}

._2bzOG6nnq3OlkrDGx7rRlS {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 35rem;
}
._346SJlPJH2NEFJx_mjjksz {
  padding: 5rem;
  padding-top: 15rem;
  grid-row-gap: 2.5rem;
}
@media screen and (max-width: 699px) {
  ._346SJlPJH2NEFJx_mjjksz {
    padding: 6rem;
    padding-top: 15rem;
  }
}
._2pFpeDQpfu9CxkpJZtaVvl {
  flex-grow: 4;
  flex-shrink: 11;
  flex-basis: 35rem;
}
.Q80xitbgiFhZ1BFcVBOZm {
  padding: 6rem;
}
@media screen and (max-width: 699px) {
  .Q80xitbgiFhZ1BFcVBOZm {
    padding-top: 0;
  }
}
@media screen and (max-width: 699px) {
  ._2bzOG6nnq3OlkrDGx7rRlS,
  ._2pFpeDQpfu9CxkpJZtaVvl {
    flex-basis: 100%;
    overflow: visible;
    height: auto;
  }
}

._3ATfvJnEILcsVdPERujPgC {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40rem;
}
._3jq5zzMgkUhlCwsHO0nD7z {
  padding: 5rem;
  padding-top: 15rem;
}
@media screen and (max-width: 739px) {
  ._3jq5zzMgkUhlCwsHO0nD7z {
    padding: 6rem;
    padding-top: 15rem;
  }
}
.pJHPJDtVQTIKbcjTaRRNf {
  flex-grow: 4;
  flex-shrink: 11;
  flex-basis: 25rem;
}
._3wZiGEaVtajBaQUI9CRp1Y {
  grid-row-gap: 0;
}
@media screen and (max-width: 739px) {
  ._3ATfvJnEILcsVdPERujPgC,
  .pJHPJDtVQTIKbcjTaRRNf {
    flex-basis: 100%;
    overflow: visible;
    height: auto;
  }
}

.WCketqGgstjLK5ahy549F {
  flex: 1;
}
._1T6rJaQMg6CtU2KenZfATs {
  margin: 0 auto;
  padding: 8rem;
  max-width: 60rem;
  grid-row-gap: 8rem;
}
@media screen and (max-width: 799px) {
  ._1T6rJaQMg6CtU2KenZfATs {
    padding: 6rem;
    grid-row-gap: 6rem;
  }
}
._6QL6TO9CmfZIw2VwMBeTT {
  flex: 1;
}
._3ZilIxVH8sZ3aqAxyz7gOY {
  margin: 0 auto;
  max-width: 60rem;
}
._3EU0nCa_qQZcRPlSjPrKXX,
._33MZHZEODzKxMlz91UZ-xB {
  display: grid;
  padding: 5rem;
  grid-row-gap: 2.5rem;
}
@media screen and (max-width: 799px) {
  ._3EU0nCa_qQZcRPlSjPrKXX,
  ._33MZHZEODzKxMlz91UZ-xB {
    padding: 6rem;
  }
}
@media screen and (max-width: 799px) {
  .WCketqGgstjLK5ahy549F,
  ._6QL6TO9CmfZIw2VwMBeTT {
    flex-basis: 100%;
    overflow: visible;
    height: auto;
  }
}
._33MZHZEODzKxMlz91UZ-xB {
  flex-basis: 100%;
  padding-top: 15rem;
  padding-bottom: 0;
}
@media screen and (max-width: 799px) {
  ._33MZHZEODzKxMlz91UZ-xB {
    order: -1;
    padding-bottom: 6rem;
  }
}
._3EU0nCa_qQZcRPlSjPrKXX {
  flex-basis: 100%;
  padding-top: 0;
}
@media screen and (max-width: 799px) {
  ._3EU0nCa_qQZcRPlSjPrKXX {
    padding-top: 6rem;
  }
}

._29bS-9Xl06OTA-j8_32j1c {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40rem;
}
.ILozpmiU2kZldyInZfdQ4 {
  margin: 0 auto;
  padding: 5rem;
  padding-top: 15rem;
  max-width: 60rem;
  grid-row-gap: 2.5rem;
}
@media screen and (max-width: 889px) {
  .ILozpmiU2kZldyInZfdQ4 {
    padding: 6rem;
    padding-top: 14rem;
    padding-bottom: 8rem;
  }
}
._2Xy75Dyeb7OTXHt2v9zU67 {
  flex-grow: 4;
  flex-shrink: 11;
  flex-basis: 20rem;
}
._3lmizG-QX8in-C8uUugmeD {
  margin: 0 auto;
  padding: 4rem;
  max-width: 60rem;
  grid-row-gap: 4rem;
}
._2zXZNPyGUZ3VXjnFSBFJ5l {
  flex-grow: 4;
  flex-shrink: 11;
  flex-basis: 20rem;
}
._35xpHA7GBBrYvIOSyNbowf {
  margin: 0 auto;
  padding: 4rem;
  max-width: 60rem;
  grid-row-gap: 4rem;
}
@media screen and (max-width: 889px) {
  ._35xpHA7GBBrYvIOSyNbowf {
    padding-top: 0;
  }
}
@media screen and (max-width: 889px) {
  ._29bS-9Xl06OTA-j8_32j1c,
  ._2Xy75Dyeb7OTXHt2v9zU67,
  ._2zXZNPyGUZ3VXjnFSBFJ5l {
    flex-basis: 100%;
    overflow: visible;
    height: auto;
  }
}

._37RB2TCroi6e-NSCW_Y8He {
  flex-grow: 0.5;
  flex-shrink: 0;
  flex-basis: 45rem;
}
@media screen and (max-width: 989px) {
  ._37RB2TCroi6e-NSCW_Y8He {
    flex-grow: 1;
  }
}
._2CCPBFLPgQ5Iziw2JhLeIo {
  grid-row-gap: 0;
}
._3BMBrH7klSidgV9iJUB6Du {
  flex-grow: 4;
  flex-shrink: 11;
  flex-basis: 45rem;
}
.DstUDLaxJOOTV5zCbeEtc {
  padding: 8rem;
  grid-row-gap: 0;
}
.DstUDLaxJOOTV5zCbeEtc > div + div {
  padding-top: 8rem;
}
@media screen and (max-width: 989px) {
  .DstUDLaxJOOTV5zCbeEtc {
    padding: 6rem;
  }
}
@media screen and (max-width: 989px) {
  ._37RB2TCroi6e-NSCW_Y8He,
  ._3BMBrH7klSidgV9iJUB6Du {
    flex-basis: 100%;
    overflow: visible;
    height: auto;
  }
}
.OmQQTcxm88HCVBXUDB_07,
._1zlFH5jLmCagahxlj5x_Dm {
  padding: 5rem;
}
.OmQQTcxm88HCVBXUDB_07 > div,
._1zlFH5jLmCagahxlj5x_Dm > div {
  display: grid;
  grid-row-gap: 2.5rem;
}
@media screen and (max-width: 989px) {
  .OmQQTcxm88HCVBXUDB_07,
  ._1zlFH5jLmCagahxlj5x_Dm {
    padding: 6rem;
  }
}
._1zlFH5jLmCagahxlj5x_Dm {
  padding: 5rem;
  padding-top: 15rem;
  padding-bottom: 2.5rem;
  width: 100%;
}
._1zlFH5jLmCagahxlj5x_Dm > div {
  margin: 0 auto;
  max-width: 70rem;
}
@media screen and (max-width: 989px) {
  ._1zlFH5jLmCagahxlj5x_Dm {
    padding: 6rem;
    padding-top: 15rem;
  }
}
.OmQQTcxm88HCVBXUDB_07 {
  flex-basis: 100%;
  padding-top: 0;
  width: 100%;
}
.OmQQTcxm88HCVBXUDB_07 > div {
  margin: 0 auto;
  max-width: 70rem;
}
@media screen and (max-width: 989px) {
  .OmQQTcxm88HCVBXUDB_07 {
    order: 1;
    padding-top: 6rem;
  }
}

._1VuWDR2J91xWIDkHtd21tm {
  width: 100%;
  background-color: var(--sidebar_background_color);
}
._1VuWDR2J91xWIDkHtd21tm:first-child {
  position: fixed;
  top: 0;
  z-index: 1;
}
._1VuWDR2J91xWIDkHtd21tm:first-child + ._1VuWDR2J91xWIDkHtd21tm {
  margin-top: 9rem;
}
._1VuWDR2J91xWIDkHtd21tm:hover ._2jSEVi-Y1ODj3Mo2JtM2Ua {
  opacity: 1;
}
.oGKvYBdL64rKm7rj8zXgm .mxCmIDH0z9F-0O3wO30dN,
.oGKvYBdL64rKm7rj8zXgm ._2jSEVi-Y1ODj3Mo2JtM2Ua {
  opacity: 1;
}
.oGKvYBdL64rKm7rj8zXgm .yRXJG2C4Q5SV3p5HrTUTt {
  border-top: 1px solid rgba(0,0,0,0.4);
  border-bottom: 1px solid rgba(0,0,0,0.4);
  background-color: rgba(255,255,255,0.05);
}
.mxCmIDH0z9F-0O3wO30dN {
  display: block;
  width: 100%;
  font-style: inherit;
  line-height: 1.7;
}
.mxCmIDH0z9F-0O3wO30dN:before {
  content: normal;
}
._2-DLvZmFqBWd-N24skty3l {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
}
._2-DLvZmFqBWd-N24skty3l > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.yRXJG2C4Q5SV3p5HrTUTt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._3OYrOG8Ybh_dfu12fOzGdY {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
._2jSEVi-Y1ODj3Mo2JtM2Ua {
  overflow: hidden;
  margin-top: 0.7em;
  margin-top: 0;
  text-overflow: ellipsis;
  font-size: 1em;
  opacity: 0.6;
  transition: opacity 0.3s 0.05s var(--ease_deceleration);
}

.hcMdhf2D9rixrF_un3_9Q {
  overflow: auto;
  min-height: 100vh;
  width: 44rem;
  background-color: var(--sidebar_background_color);
  list-style: none;
}
body ul.hcMdhf2D9rixrF_un3_9Q {
  padding-left: 0;
}
.hcMdhf2D9rixrF_un3_9Q li:first-child > a {
  opacity: 1;
  pointer-events: auto;
}
.hcMdhf2D9rixrF_un3_9Q a {
  display: flex;
  align-items: center;
  height: 9rem;
  opacity: 0.06;
  transition: opacity 0.6s var(--ease_standard);
}
.hcMdhf2D9rixrF_un3_9Q a > div:last-child {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 3.5rem;
  height: 100%;
}
.hcMdhf2D9rixrF_un3_9Q a > div:first-child {
  flex-shrink: 0;
  padding-bottom: 9rem;
  width: 9rem;
}
@media screen and (max-width: 600px) {
  .hcMdhf2D9rixrF_un3_9Q {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }
}

._2iEe0-Jswy1qPKxIS7Vi6I {
  position: relative;
  z-index: 1;
  width: 9rem;
  height: 100%;
  color: var(--sidebar_color);
  cursor: pointer;
}
._2iEe0-Jswy1qPKxIS7Vi6I._37ckSqER8DSlVTtCd73oC-,
._2iEe0-Jswy1qPKxIS7Vi6I._3BFjXSL-wttovwjJnpfzOz {
  width: 100vw;
}
._2iEe0-Jswy1qPKxIS7Vi6I._37ckSqER8DSlVTtCd73oC- a {
  opacity: 1;
}
._2iEe0-Jswy1qPKxIS7Vi6I.wDNP5ggJUsuYNpFoEQ2Zv a,
._2iEe0-Jswy1qPKxIS7Vi6I._1o21XvLTQIrxlZ3LLqZx2l a,
._2iEe0-Jswy1qPKxIS7Vi6I._3BFjXSL-wttovwjJnpfzOz a {
  pointer-events: none;
}
@media screen and (max-width: 600px) {
  ._2iEe0-Jswy1qPKxIS7Vi6I {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: width 0.6s var(--ease_standard), max-height 0.6s var(--ease_standard);
  }
  ._2iEe0-Jswy1qPKxIS7Vi6I._37ckSqER8DSlVTtCd73oC- {
    max-height: 100%;
  }
  ._2iEe0-Jswy1qPKxIS7Vi6I,
  ._2iEe0-Jswy1qPKxIS7Vi6I._3BFjXSL-wttovwjJnpfzOz {
    max-height: 9rem;
    width: 9rem;
  }
}
._38Sv1Za0fSlwl2f_KZHEdT {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 9rem;
  border: none;
  background: none;
  color: rgba(255,255,255,0.7);
  cursor: pointer;
  fill: currentColor;
}
._38Sv1Za0fSlwl2f_KZHEdT,
._38Sv1Za0fSlwl2f_KZHEdT:hover,
._38Sv1Za0fSlwl2f_KZHEdT:focus {
  outline: none;
}
@media screen and (max-width: 600px) {
  ._38Sv1Za0fSlwl2f_KZHEdT {
    display: flex;
  }
}
._1Ob9WlNWXMsDRzlWDYdM_a {
  overflow: hidden;
  width: 9rem;
  height: 100%;
  transition: width 0.6s var(--ease_standard);
  transform: translateZ(0);
}
._37ckSqER8DSlVTtCd73oC- ._1Ob9WlNWXMsDRzlWDYdM_a {
  width: 44rem;
}
@media screen and (max-width: 600px) {
  ._1Ob9WlNWXMsDRzlWDYdM_a {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
  }
  ._1Ob9WlNWXMsDRzlWDYdM_a,
  ._37ckSqER8DSlVTtCd73oC- ._1Ob9WlNWXMsDRzlWDYdM_a {
    width: 100vw;
  }
}
._3tZJ54AhTJmObqTfhCXC08 {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100%;
  background-color: var(--sidebar_background_color);
  opacity: 0;
  transition: opacity 0.6s var(--ease_standard);
}
._37ckSqER8DSlVTtCd73oC- ._3tZJ54AhTJmObqTfhCXC08 {
  opacity: 0.8;
  animation: _1VOLjaYTXyb4MbHBN-XB5i 0.6s var(--ease_standard);
}
._37ckSqER8DSlVTtCd73oC- ._3tZJ54AhTJmObqTfhCXC08,
._3BFjXSL-wttovwjJnpfzOz ._3tZJ54AhTJmObqTfhCXC08 {
  display: block;
}
._2OOBpcUoI-v-DeD3iu3J_N {
  top: 0 !important;
  z-index: 2;
  width: 7px !important;
  height: 100% !important;
  border-radius: 0 !important;
  background: none !important;
}
._2OOBpcUoI-v-DeD3iu3J_N > div {
  border-radius: 0 !important;
  background-color: var(--sidebar_scrollbar_color) !important;
}
._37ckSqER8DSlVTtCd73oC- ._2OOBpcUoI-v-DeD3iu3J_N {
  display: block;
}
._2OOBpcUoI-v-DeD3iu3J_N,
._1o21XvLTQIrxlZ3LLqZx2l ._2OOBpcUoI-v-DeD3iu3J_N {
  display: none;
}
@-moz-keyframes _1VOLjaYTXyb4MbHBN-XB5i {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes _1VOLjaYTXyb4MbHBN-XB5i {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@-o-keyframes _1VOLjaYTXyb4MbHBN-XB5i {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes _1VOLjaYTXyb4MbHBN-XB5i {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

._3sSJJBKU4Vc-VPCpRwTX7A {
  position: absolute;
  right: -0.5rem;
  bottom: -0.5rem;
  padding: 1em calc(2em + 0.5rem) calc(1em + 0.5rem) 2em;
  border: 1px solid var(--next_page_border_color);
  background-color: var(--next_page_background_color);
  color: var(--next_page_color);
  transition: transform 0.4s var(--ease_custom);
}
._3sSJJBKU4Vc-VPCpRwTX7A:hover {
  transform: translateX(-0.4rem);
}
._3sSJJBKU4Vc-VPCpRwTX7A span,
._3sSJJBKU4Vc-VPCpRwTX7A:hover span,
._3sSJJBKU4Vc-VPCpRwTX7A:focus span {
  display: inline-block;
  padding-right: 0.7em;
  letter-spacing: 0.04em;
  font-style: italic;
  font-size: 1.1em;
}
._3sSJJBKU4Vc-VPCpRwTX7A h5,
._3sSJJBKU4Vc-VPCpRwTX7A:hover h5,
._3sSJJBKU4Vc-VPCpRwTX7A:focus h5 {
  display: inline-block;
  font-size: 1em;
}

